body {
  font-family: 'Roboto', sans-serif;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.login-container {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 320px;
  text-align: center;
}

.login-container h2 {
  margin-bottom: 24px;
  color: #950606;
  font-weight: 500;
}

.login-container input {
  width: 100%;
  padding: 12px;
  margin-bottom: 14px;
  border: 1px solid #FFB4B4;
  border-radius: 6px;
  font-size: 16px;
  box-sizing: border-box;
}

.login-container button {
  background-color: #950606;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  width: 100%;
}

.login-container button:hover {
  background-color: #3F1717;
}

.mensagem {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #950606;
  color: white;
  padding: 12px 20px;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  font-size: 14px;
}
