<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Login - Laboratório Holos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        <form id="form-login">
            <input type="text" id="username" name="username" placeholder="Usuário" required />
            <input type="password" id="senha" name="senha" placeholder="Senha" required />
            <button type="submit">Entrar</button>
        </form>
    </div>

    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>
</html>
